name: Build

on:
  push:
    branches: [ "master" ]
    tags: ["v*"]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux-x64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build debug
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Build release
      run: cargo build --release
    - uses: actions/upload-artifact@v3
      with:
        name: linux-x64
        path: target/release/libxlite.so

  build-linux-x86:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install target
      run: sudo apt install -y gcc-multilib && rustup target install i686-unknown-linux-gnu
    - name: Build release
      run: cargo build --release --target=i686-unknown-linux-gnu
    - uses: actions/upload-artifact@v3
      with:
        name: linux-x86
        path: target/i686-unknown-linux-gnu/release/libxlite.so

  build-windows-x64:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build debug
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Build release
      run: cargo build --release
    - uses: actions/upload-artifact@v3
      with:
        name: windows-x64
        path: target/release/xlite.dll

  build-windows-x86:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install target
      run: rustup target add i686-pc-windows-msvc
    - name: Build release
      run: cargo build --release --target=i686-pc-windows-msvc
    - uses: actions/upload-artifact@v3
      with:
        name: windows-x86
        path: target/i686-pc-windows-msvc/release/xlite.dll

  build-macos-x64:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build debug
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Build release
      run: cargo build --release
    - uses: actions/upload-artifact@v3
      with:
        name: macos-x64
        path: target/release/libxlite.dylib

  build-macos-aarch64:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install target
      run: rustup target add aarch64-apple-darwin
    - name: Build release
      run: cargo build --release --target=aarch64-apple-darwin
    - uses: actions/upload-artifact@v3
      with:
        name: macos-aarch64
        path: target/aarch64-apple-darwin/release/libxlite.dylib

  create-release:

    if: startsWith(github.ref, 'refs/tags/v')
    needs:
    - build-linux-x64
    - build-linux-x86
    - build-windows-x64
    - build-windows-x86
    - build-macos-x64
    - build-macos-aarch64
    runs-on: ubuntu-latest

    steps:
    - name: Add current date to env
      run: echo "RELEASE_DATE=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV
    - uses: actions/download-artifact@v3
      with:
        path: .
    - name: Archive linux-x64
      run: mv linux-x64/libxlite.so ./libxlite.so && tar -zcvf libxlite-linux-x64.tar.gz libxlite.so && rm libxlite.so
    - name: Archive linux-x86
      run: mv linux-x86/libxlite.so ./libxlite.so && tar -zcvf libxlite-linux-x86.tar.gz libxlite.so && rm libxlite.so
    - name: Archive windows-x64
      run: mv windows-x64/xlite.dll ./xlite.dll && zip xlite-windows-x64.zip xlite.dll && rm xlite.dll
    - name: Archive windows-x86
      run: mv windows-x86/xlite.dll ./xlite.dll && zip xlite-windows-x86.zip xlite.dll && rm xlite.dll
    - name: Archive macos-x64
      run: mv macos-x64/libxlite.dylib ./libxlite.dylib && zip libxlite-macos-x64.zip libxlite.dylib && rm libxlite.dylib
    - name: Archive macos-aarch64
      run: mv macos-aarch64/libxlite.dylib ./libxlite.dylib && zip libxlite-macos-aarch64.zip libxlite.dylib && rm libxlite.dylib

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        body: Release ${{ github.ref }} ${{ env.RELEASE_DATE }}
        draft: false
        prerelease: false

    - name: Upload linux-x64 artifact
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./libxlite-linux-x64.tar.gz
        asset_name: libxlite-linux-x64.tar.gz
        asset_content_type: application/octet-stream

    - name: Upload linux-x86 artifact
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./libxlite-linux-x86.tar.gz
        asset_name: libxlite-linux-x86.tar.gz
        asset_content_type: application/octet-stream

    - name: Upload windows-x64 artifact
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./xlite-windows-x64.zip
        asset_name: xlite-windows-x64.zip
        asset_content_type: application/octet-stream

    - name: Upload windows-x86 artifact
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./xlite-windows-x86.zip
        asset_name: xlite-windows-x86.zip
        asset_content_type: application/octet-stream

    - name: Upload macos-x64 artifact
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./libxlite-macos-x64.zip
        asset_name: libxlite-macos-x64.zip
        asset_content_type: application/octet-stream

    - name: Upload macos-aarch64 artifact
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./libxlite-macos-aarch64.zip
        asset_name: libxlite-macos-aarch64.zip
        asset_content_type: application/octet-stream
